ul, li {
  list-style: none;


}

ul {
  padding: 0;
  margin: 0
}

h1 {
  display: inline-block;
background: #232DA5;
    padding: 0.5rem 2rem;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.column {
  width: 15%;
  display: inline-block;


    h2 {
      box-sizing: border-box;
      padding: 1rem;
      font-size: 1rem;
        background: #232DA5;
            margin: .5rem;
            color: white;
            text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
            border-left: 1px solid white;
    border-right: 1px solid white;
      }

    li {
      box-sizing: border-box;
      display: block;
      height: 4rem;
      margin: .5rem;
      background: #232DA5;
      text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
      border-left: 1px solid white;
      border-right: 1px solid white;



        h3 {
          margin: 0;
          padding: .75rem;
          font-size: 2rem;
          text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
          border-left: 1px solid white;
          border-right: 1px solid white;

    }
  }
}

.game-page{
  background: black;
color: #D7B468;
}



#game-container {
  text-align: center;
}

.score {
  display: inline-block;
background: #232DA5;
    padding: 0.5rem 2rem;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.answer {
  display: inline-block;
background: #232da5;
margin-right: 6rem;
  padding: 0.5rem 2rem;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  border-left: 1px solid white;
    border-right: 1px solid white;
}

.modal-question {
  position: absolute;
      width: 50%;
      background: #232da5;
      padding: 5rem;
      top: 7rem;
      border: .3rem solid whitesmoke;
      right: 18rem;
      font-size: 1.5rem;
        span {
          display: block;
          margin-bottom: 1rem;
        }
}

#answer {
  margin-right: 2rem;
    padding: 0.3rem 5rem;
    text-align: left;
}

.button {
  margin: 1rem;
padding: .5rem 1rem;
color: #232da5;
background: #D7B468;
font-size: 1rem;
border-radius: 10px;
}

.score-board {
  margin-top: 3rem;
margin-bottom: 3rem;
display: inline-block;
}
